<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="services.on.servicesontap">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/n_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/n_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServicesAtHome"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ServiceProviderView"
            android:exported="false" />
        <activity
            android:name=".Activities.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".Activities.TermsAndCondition"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBivHaHCZbibThFVU4K6Pg3F8gD6XBRfcI" />

        <activity
            android:name=".Activities.RegisterServiceProvideOTP"
            android:exported="true" />
        <activity
            android:name=".Activities.MyProfile"
            android:exported="true" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.RegisterServiceProvider"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginCustomer"
            android:exported="true" />
        <activity
            android:name=".Activities.ChooseOptions"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" >

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>